<footer class="footer spad">
    <div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
</div>
<div class="col-lg-6 col-md-6 col-sm-6 custom-footer">
    <img src="img/logothienan/logo_footer_1692625454.png.webp" alt="">
    <p>"Nước sạch thiên nhiên - Gạo ngon từ tâm - Nâng tầm khẩu vị"</p>
</div>
</div>
<br>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">

                    </div>
                    <h4>Tổng Đài CSKH</h4>
                    <ul>
                        <li><i class="fas fa-circle "></i> CSKH 24/7: (028)38.030.333</li>
                        <li><i class="fas fa-circle "></i> Hotline 24/7: 0981.388.777</li>
                        <li><i class="fas fa-circle "></i> Khiếu nại 24/7: 0981.388.777</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">

                    </div>
                    <h4>Gạo và Nước Thiên An</h4>
                    <ul>
                        <li><i class="fas fa-circle "></i> Giới thiệu</li>
                        <li><i class="fas fa-circle "></i> Hướng dẫn mua hàng</li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-4
             col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">

                    </div>
                    <h4>Quy định và chính sách</h4>
                    <ul>
                        <li><i class="fas fa-circle "></i> Điều khoản sử dụng</li>
                        <li><i class="fas fa-circle "></i> Chính sách bảo mật</li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">

                    </div>
                    <h4>Công ty TNHH Phát triển TMTH Thiên An</h4>
                    <ul>
                        <li><i class="fas fa-phone-alt" style="color: rgb(255, 255, 255);"></i> 0981.388.777 -
                            (028)38.030.333</li>
                        <li><i class="fas fa-envelope" style="color: rgb(255, 255, 255);"></i>
                            gaonuocthienan@gmail.com</li>
                        <li><i class="fas fa-map-marker-alt" style="color: rgb(255, 255, 255);"></i> 581 Nguyễn
                            Xiển,Long Thạnh Mỹ,Quận 9, Thành Phố Hồ Chí Minh</li>
                    </ul>
                </div>
            </div>
        </div>
        

    </div>
    </div>
</footer>