<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-cookies/1.8.3/angular-cookies.min.js"
        integrity="sha512-eM4WApD53FS2pv6fIgY4E2utWB82WSp3QPeoemIzA9VeOv9vQ1UzYBKIkXAwS71SCilEFpfkwtCZHj2uSS3keQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Google Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 ">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fas fa-phone-alt" style="color: rgb(255, 255, 255);"></i> 0981.388.777 -
                                    (028)38.030.333</li>
                                <li><i class="fas fa-envelope" style="color: rgb(255, 255, 255);"></i>
                                    gaonuocthienan@gmail.com
                                </li>
                                <li><i class="fas fa-map-marker-alt" style="color: rgb(255, 255, 255);"></i> 581 Nguyễn
                                    Xiển,Long Thạnh Mỹ,Quận 9, Thành Phố Hồ Chí Minh</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo" style="text-align: center;">
                        <a href="./index.html"><img src="img/logothienan/logo.jpg" width="40%" height="40%" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu" style="text-align: center;">
                        <a href=""><img src="img/logothienan/linhvat1.jpg" width="60px" height="100px" alt=""></a>
                        <ul class="d-inline-flex">

                            <li><a href="./index.html">Trang chủ</a></li>
                            <li><a href="./shop-grid.html">Giới thiệu</a></li>
                            <li class="active"><a href="/product.html">Sản Phẩm</a>

                            </li>
                            <li><a href="./blog.html">Bản tin Thiên An</a></li>
                            <li><a href="./contact.html">Sức khỏe và gia đình</a></li>

                        </ul>
                        <a href=""><img src="img/logothienan/linhvat2.jpg" width="70px" height="90px" alt=""></a>
                    </nav>
                </div>



                <!-- <div class="col-lg-3">
                          <div class="header__cart">
                              <ul>
                                  <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                  <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                              </ul>
                              <div class="header__cart__price">item: <span>$150.00</span></div>
                          </div>
                      </div> -->
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all" class="hero__categories__all" ng-mouseover="showMenu()"
                            ng-mouseleave="hideMenu()">

                            <span>Danh mục sản phẩm</span>
                        </div>
                        <ul ng-class="{ 'show': isMenuVisible }">
                            <nav class="navbar navbar-expand-lg ">
                                <div class="container-fluid">


                                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                        <ul class="navbar-nav">
                                            <li class="nav-item dropdown">
                                                <div class="nav-link dropdown-toggle " href="#"
                                                    id="navbarDarkDropdownMenuLink1" role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fas fa-circle custom-icon"></i> Gạo Nếp Thiên An
                                                </div>
                                                <ul class="dropdown-menu dropdown-menu-dark" id="dropdown-menu1">
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-circle custom-icon"></i> Gạo Tấm</a></li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-circle custom-icon"></i> Gạo Nếp</a></li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-circle custom-icon"></i> Gạo Từ Thiện</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </nav>
                            <nav class="navbar navbar-expand-lg ">
                                <div class="container-fluid">


                                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                        <ul class="navbar-nav">
                                            <li class="nav-item dropdown">
                                                <div class="nav-link dropdown-toggle" href="#"
                                                    id="navbarDarkDropdownMenuLink1" role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    onmouseover="showDropdown('dropdown-menu2')"
                                                    onmouseout="hideDropdown('dropdown-menu2')">
                                                    <i class="fas fa-circle custom-icon"></i> Nước Khoán Thiên An
                                                </div>
                                                <ul class="dropdown-menu dropdown-menu-dark" id="dropdown-menu2">
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-circle custom-icon"></i> Nước Lavie</a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-circle custom-icon"></i> Nước Viva</a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-circle custom-icon"></i> Nước Vĩnh Hảo</a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-circle custom-icon"></i> Nước Lavie</a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-circle custom-icon"></i> Nước Viva</a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-circle custom-icon"></i> Nước Vĩnh Hảo</a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </nav>

                        </ul>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">

                            <form action="#">

                                <input type="text" placeholder="Tìm kiếm sản phẩm">
                                <button type="submit" class="site-btn">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <img src="img/logothienan/top_banner_0_1692617778.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="img/logothienan/top_banner_1_1694252079.jpg" class="d-block w-100" alt="...">
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"></span>
                        </button>
                    </div>
                </div>
    </section>
    <!-- slide -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel col-lg-12">
                    <div>
                        <img src="img/logothienan/bannermini1.jpg" alt="">
                    </div>

                    <div>
                        <img src="img/logothienan/bannermini2.jpg" alt="">
                    </div>
                    <div>
                        <img src="img/logothienan/bannermini3.jpg" alt="">
                    </div>


                </div>
            </div>
        </div>
    </section><br>
    <!-- body -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <a href="header.html"> <img src="img/logothienan/gao.png" width="250px" alt=""></a>
                        <p>Gạo/Tấm/Nếp</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/logothienan/nuoc.png" width="250px" alt="">
                        <p>Nước Tinh Khiết/Nước Khoán/Nước Ion Kiềm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="horizontal-line-with-border">
                        <p class="centered-text">Sản phẩm tại Thiên An</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- phần product -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href=""><img src="img/logothienan/huong-lai-sua_0_1702183149.jpg.webp" alt=""></a>
                        <br>
                        <div>
                            <p><a href="/product-details.html">Nước uống đóng bình Viva (18.5 lít) không có vòi </a></p>

                        </div>
                        <hr><br>
                        <div>
                            <span class="original-price">23.000đ</span>
                            <span class="discounted-price">20.000đ</span>
                        </div>
                    </div>





                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href=""><img src="img/logothienan/huong-lai-sua_0_1702183149.jpg.webp" alt=""></a>
                        <br>
                        <div>
                            <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                        </div>
                        <hr><br>
                        <div>
                            <span class="original-price">23.000đ</span>
                            <span class="discounted-price">20.000đ</span>
                        </div>
                    </div>





                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href=""><img src="img/logothienan/huong-lai-sua_0_1702183149.jpg.webp" alt=""></a>
                        <br>
                        <div>
                            <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                        </div>
                        <hr><br>
                        <div>
                            <span class="original-price">23.000đ</span>
                            <span class="discounted-price">20.000đ</span>
                        </div>
                    </div>





                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href=""><img src="img/logothienan/huong-lai-sua_0_1702183149.jpg.webp" alt=""></a>
                        <br>
                        <div>
                            <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                        </div>
                        <hr><br>
                        <div>
                            <span class="original-price">23.000đ</span>
                            <span class="discounted-price">20.000đ</span>
                        </div>
                    </div>





                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                        <br>
                        <div>
                            <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                        </div>
                        <hr><br>
                        <div>
                            <span class="original-price">23.000đ</span>
                            <span class="discounted-price">20.000đ</span>
                        </div>
                    </div>





                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                        <br>
                        <div>
                            <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                        </div>
                        <hr><br>
                        <div>
                            <span class="original-price">23.000đ</span>
                            <span class="discounted-price">20.000đ</span>
                        </div>
                    </div>





                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                        <br>
                        <div>
                            <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                        </div>
                        <hr><br>
                        <div>
                            <span class="original-price">23.000đ</span>
                            <span class="discounted-price">20.000đ</span>
                        </div>
                    </div>





                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                        <br>
                        <div>
                            <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                        </div>
                        <hr><br>
                        <div>
                            <span class="original-price">23.000đ</span>
                            <span class="discounted-price">20.000đ</span>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 custom-footer">
        <img src="img/logothienan/logo_footer_1692625454.png.webp" alt="">
        <p>"Nước sạch thiên nhiên - Gạo ngon từ tâm - Nâng tầm khẩu vị"</p>
    </div>
</div>
<br>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">

                        </div>
                        <h4>Tổng Đài CSKH</h4>
                        <ul>
                            <li><i class="fas fa-circle "></i> CSKH 24/7: (028)38.030.333</li>
                            <li><i class="fas fa-circle "></i> Hotline 24/7: 0981.388.777</li>
                            <li><i class="fas fa-circle "></i> Khiếu nại 24/7: 0981.388.777</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">

                        </div>
                        <h4>Gạo và Nước Thiên An</h4>
                        <ul>
                            <li><i class="fas fa-circle "></i> Giới thiệu</li>
                            <li><i class="fas fa-circle "></i> Hướng dẫn mua hàng</li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4
                 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">

                        </div>
                        <h4>Quy định và chính sách</h4>
                        <ul>
                            <li><i class="fas fa-circle "></i> Điều khoản sử dụng</li>
                            <li><i class="fas fa-circle "></i> Chính sách bảo mật</li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">

                        </div>
                        <h4>Công ty TNHH Phát triển TMTH Thiên An</h4>
                        <ul>
                            <li><i class="fas fa-phone-alt" style="color: rgb(255, 255, 255);"></i> 0981.388.777 -
                                (028)38.030.333</li>
                            <li><i class="fas fa-envelope" style="color: rgb(255, 255, 255);"></i>
                                gaonuocthienan@gmail.com</li>
                            <li><i class="fas fa-map-marker-alt" style="color: rgb(255, 255, 255);"></i> 581 Nguyễn
                                Xiển,Long Thạnh Mỹ,Quận 9, Thành Phố Hồ Chí Minh</li>
                        </ul>
                    </div>
                </div>
            </div>
            

        </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>



</body>

</html>