<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<section data-setbg="img/breadcrumb.jpg">
    <div class="container">

        <div>
            <div class="breadcrumb__text">

                <div class="breadcrumb__option">
                    <a href="./index.html">Gạo & Nước Thiên An</a>/

                    <span>Gạo Thiên An</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<!-- Banner Begin -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="horizontal-line-with-border">
                    <p class="centered-text">Phân loại sản phẩm</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <a href="header.html"> <img src="img/logothienan/gao.png" width="250px" alt=""></a>
                    <p>Gạo/Tấm/Nếp</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/logothienan/nuoc.png" width="250px" alt="">
                    <p>Nước Tinh Khiết/Nước Khoán/Nước Ion Kiềm</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="horizontal-line-with-border">
                    <p class="centered-text">Thương hiệu nổi bật</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="horizontal-line-with-border">
                    <p class="centered-text">Sản phẩm bán chạy</p>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="categories">
    <div class="container">
        <div class="test">
            <div class="row">
                <div class="categories__slider1 owl-carousel">
                    <div class="">
                        <div class="product__item" >
                            <div class="product__item__pic set-bg">
                                <a href="/product-details.html"><img src="img/logothienan/huong-lai-sua_0_1702183149.jpg.webp"  alt=""></a>
                                <br>
                                <div>
                                    <p><a href="/product-details.html">Nước uống đóng bình Viva (18.5 lít) có vòi 1</a></p>
                                </div>
                                <hr><br>
                                <div>
                                    <span class="original-price">23.000đ</span>
                                    <span class="discounted-price">20.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                                <br>
                                <div>
                                    <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi 2</a></p>
                                </div>
                                <hr><br>
                                <div>
                                    <span class="original-price">23.000đ</span>
                                    <span class="discounted-price">20.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a href="/product-details.html"><img src="img/logothienan/huong-lai-sua_0_1702183149.jpg.webp" alt=""></a>
                                <br>
                                <div>
                                    <p><a href="/product-details.html">Nước uống đóng bình Viva (18.5 lít) có vòi 3</a></p>
                                </div>
                                <hr><br>
                                <div>
                                    <span class="original-price">23.000đ</span>
                                    <span class="discounted-price">20.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                                <br>
                                <div>
                                    <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi 4</a></p>
                                </div>
                                <hr><br>
                                <div>
                                    <span class="original-price">23.000đ</span>
                                    <span class="discounted-price">20.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="horizontal-line-with-border">
                    <p class="centered-text">Sản phẩm Nước Tinh Khiết/Nước Khoán/Nước Ion Kiềm</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                    <br>
                    <div>
                        <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                    </div><hr><br>
                    <div>
                        <span class="original-price">23.000đ</span>
                        <span class="discounted-price">20.000đ</span>
                    </div>
                </div>





            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                    <br>
                    <div>
                        <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                    </div><hr><br>
                    <div>
                        <span class="original-price">23.000đ</span>
                        <span class="discounted-price">20.000đ</span>
                    </div>
                </div>





            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                    <br>
                    <div>
                        <p><a href="#">Nước uống đóng bình Viva (18.5 lít) có vòi </a></p>

                    </div><hr><br>
                    <div>
                        <span class="original-price">23.000đ</span>
                        <span class="discounted-price">20.000đ</span>
                    </div>
                </div>





            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <a href=""><img src="img/logothienan/satori_0_1696323491.jpg.webp" alt=""></a>
                    <br>
                    <div>
                        <p><a href="#">Nước khoáng thiên nhiên La Vie 19L (Bình) không vòi </a></p>

                    </div><hr><br>
                    <div>
                        <span class="original-price">23.000đ</span>
                        <span class="discounted-price">20.000đ</span>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="horizontal-line-with-border">
                    <p class="centered-text">Bản tin Thiên An</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="horizontal-line-with-border">
                    <p class="centered-text">Sức khỏe và Gia đình</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="horizontal-line-with-border">
                    <p class="centered-text">Chỉ đường đến Thiên An</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>